<a href="https://colab.research.google.com/github/r-zambotti/Data_Analytics_Datathon_Grupo-60/blob/main/Data_Analytics_Datathon_Grupo_60.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Datathon - Passos Mágicos**

## **1 - Introdução**

  ## **2 - 	Objetivo Geral**

## **3 - Material e Ferramentas**

## **4 - Importação dos dados**

- Instalação de pacotes

- Import das bibliotecas

In [259]:
import pandas as pd
import numpy as np
import unicodedata
import re
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import warnings
warnings.filterwarnings(action = 'ignore')

In [260]:
# ink do arquivo raw no GitHub
url = 'https://raw.githubusercontent.com/r-zambotti/Data_Analytics_Datathon_Grupo-60/refs/heads/main/Bases/PEDE_PASSOS_DATASET_FIAP.csv'

# Download do arquivo
!wget $url -O PEDE_PASSOS_DATASET_FIAP.csv

# Convertendo para DataFrame
df_pede = pd.read_csv('PEDE_PASSOS_DATASET_FIAP.csv', sep = ';')
df_pede.head()

--2025-01-23 06:12:07--  https://raw.githubusercontent.com/r-zambotti/Data_Analytics_Datathon_Grupo-60/refs/heads/main/Bases/PEDE_PASSOS_DATASET_FIAP.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 769554 (752K) [text/plain]
Saving to: ‘PEDE_PASSOS_DATASET_FIAP.csv’

PEDE_PASSOS_DATASET 100%[===================>] 751.52K  --.-KB/s    in 0.01s

2025-01-23 06:12:08 (76.2 MB/s) - ‘PEDE_PASSOS_DATASET_FIAP.csv’ saved [769554/769554]

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,...,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
0,Escola Pública,ALUNO-1,11,2,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,Não,7.916665,5.0,Fase 2 (5º e 6º ano)
2,Escola Pública,ALUNO-3,12,2,3H,Não,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola Pública,ALUNO-4,10,2,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,Não,Não,8.055553,5.0,Fase 3 (7º e 8º ano)
4,Escola Pública,ALUNO-5,10,1,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,Não,Não,7.833337,5.0,Fase 3 (7º e 8º ano)

## **5 - Tratamento dos Dados**

In [261]:
df_pede.shape

(1349, 69)

In [262]:
df_pede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   NOME                           1349 non-null   object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
 19  FASE_2021                      686 non-null    float64
 20  TURMA_2021                     686 non-null    object
 21  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 22  SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 23  PEDRA_2021                     686 non-null    object
 24  INDE_2021                      686 non-null    object
 25  IAA_2021                       686 non-null    float64
 26  IEG_2021                       686 non-null    float64
 27  IPS_2021                       686 non-null    float64
 28  IDA_2021                       686 non-null    float64
 29  IPP_2021                       686 non-null    float64
 30  REC_EQUIPE_1_2021              686 non-null    object
 31  REC_EQUIPE_2_2021              686 non-null    object
 32  REC_EQUIPE_3_2021              686 non-null    object
 33  REC_EQUIPE_4_2021              686 non-null    object
 34  PONTO_VIRADA_2021              686 non-null    object
 35  IPV_2021                       686 non-null    float64
 36  IAN_2021                       686 non-null    float64
 37  NIVEL_IDEAL_2021               686 non-null    object
 38  DEFASAGEM_2021                 686 non-null    float64
 39  FASE_2022                      862 non-null    float64
 40  TURMA_2022                     862 non-null    object
 41  ANO_INGRESSO_2022              862 non-null    float64
 42  BOLSISTA_2022                  862 non-null    object
 43  INDE_2022                      862 non-null    float64
 44  CG_2022                        862 non-null    float64
 45  CF_2022                        862 non-null    float64
 46  CT_2022                        862 non-null    float64
 47  PEDRA_2022                     862 non-null    object
 48  DESTAQUE_IEG_2022              862 non-null    object
 49  DESTAQUE_IDA_2022              862 non-null    object
 50  DESTAQUE_IPV_2022              862 non-null    object
 51  IAA_2022                       862 non-null    float64
 52  IEG_2022                       862 non-null    float64
 53  IPS_2022                       862 non-null    float64
 54  IDA_2022                       862 non-null    float64
 55  NOTA_PORT_2022                 860 non-null    float64
 56  NOTA_MAT_2022                  860 non-null    float64
 57  NOTA_ING_2022                  285 non-null    float64
 58  QTD_AVAL_2022                  862 non-null    float64
 59  IPP_2022                       862 non-null    float64
 60  REC_AVA_1_2022                 862 non-null    object
 61  REC_AVA_2_2022                 862 non-null    object
 62  REC_AVA_3_2022                 626 non-null    object
 63  REC_AVA_4_2022                 285 non-null    object
 64  INDICADO_BOLSA_2022            862 non-null    object
 65  PONTO_VIRADA_2022              862 non-null    object
 66  IPV_2022                       862 non-null    float64
 67  IAN_2022                       862 non-null    float64
 68  NIVEL_IDEAL_2022               862 non-null    object
dtypes: float64(26), object(43)
memory usage: 727.3+ KB

In [263]:
df_pede.describe()

,FASE_2021,IAA_2021,IEG_2021,IPS_2021,IDA_2021,IPP_2021,IPV_2021,IAN_2021,DEFASAGEM_2021,FASE_2022,...,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,IPV_2022,IAN_2022
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.00000,686.000000,686.000000,862.000000,...,862.000000,862.000000,862.000000,860.000000,860.000000,285.000000,862.000000,862.000000,862.000000,862.000000
mean,2.276968,8.153499,6.822595,6.843586,5.425948,7.576385,7.40758,6.902332,-0.752187,2.110209,...,7.880728,6.901102,6.070688,5.796318,6.306628,5.839942,3.056845,6.299364,7.247953,6.421114
std,1.798368,2.193629,2.458627,1.457148,2.141566,1.072318,1.62708,2.484979,0.792181,1.802222,...,1.649023,1.070202,2.059346,2.422292,2.092551,2.992093,0.775806,1.135510,1.098548,2.387816
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2.500000,-4.000000,0.000000,...,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.500010,2.500000
25%,1.000000,7.900000,5.300000,6.900000,4.100000,7.300000,6.60000,5.000000,-1.000000,1.000000,...,6.999971,6.250000,4.750000,4.316667,5.166667,3.500000,2.000000,5.625000,6.722220,5.000000
50%,2.000000,8.800000,7.200000,7.500000,5.850000,7.700000,7.70000,5.000000,-1.000000,2.000000,...,8.312179,7.500000,6.333333,6.000000,6.650000,6.266667,3.000000,6.250000,7.333335,5.000000
75%,3.000000,9.500000,8.800000,7.500000,6.900000,8.100000,8.60000,10.000000,0.000000,3.000000,...,9.102970,7.500000,7.583333,7.833333,7.833333,8.500000,4.000000,7.031250,7.916665,10.000000
max,7.000000,10.000000,10.000000,8.800000,9.500000,10.000000,10.00000,10.000000,3.000000,7.000000,...,10.000000,10.000000,9.916667,10.000000,10.000000,10.000000,4.000000,9.218750,10.000010,10.000000

- Separando os dados da coluna 'FASE_TURMA_2020' em duas colunas: 'FASE_2020' e 'TURMA_2020'

In [264]:
df_pede[['FASE_2020', 'TURMA_2020']] = df_pede['FASE_TURMA_2020'].str.extract(r'(.{1})(.{1})')
df_pede.drop('FASE_TURMA_2020', axis=1, inplace=True)

- Criando a coluna ID_ALUNO

In [265]:
df_pede['ID_ALUNO']=df_pede['NOME'].str.split('-').str[1].astype(int)
df_pede.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,DESTAQUE_IDA_2020,...,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022,FASE_2020,TURMA_2020,ID_ALUNO
0,Escola Pública,ALUNO-1,11,2,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,H,1
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Sim,Não,7.916665,5.0,Fase 2 (5º e 6º ano),NaN,NaN,2
2,Escola Pública,ALUNO-3,12,2,Não,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,H,3
3,Escola Pública,ALUNO-4,10,2,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,Promovido de Fase,NaN,Não,Não,8.055553,5.0,Fase 3 (7º e 8º ano),1,D,4
4,Escola Pública,ALUNO-5,10,1,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Seu destaque em 2020: As suas boas notas na Pa...,...,Mantido na Fase atual,NaN,Não,Não,7.833337,5.0,Fase 3 (7º e 8º ano),2,M,5

In [266]:
df_pede.columns

Index(['INSTITUICAO_ENSINO_ALUNO_2020', 'NOME', 'IDADE_ALUNO_2020',
       'ANOS_PM_2020', 'PONTO_VIRADA_2020', 'INDE_2020', 'INDE_CONCEITO_2020',
       'PEDRA_2020', 'DESTAQUE_IEG_2020', 'DESTAQUE_IDA_2020',
       'DESTAQUE_IPV_2020', 'IAA_2020', 'IEG_2020', 'IPS_2020', 'IDA_2020',
       'IPP_2020', 'IPV_2020', 'IAN_2020', 'FASE_2021', 'TURMA_2021',
       'INSTITUICAO_ENSINO_ALUNO_2021', 'SINALIZADOR_INGRESSANTE_2021',
       'PEDRA_2021', 'INDE_2021', 'IAA_2021', 'IEG_2021', 'IPS_2021',
       'IDA_2021', 'IPP_2021', 'REC_EQUIPE_1_2021', 'REC_EQUIPE_2_2021',
       'REC_EQUIPE_3_2021', 'REC_EQUIPE_4_2021', 'PONTO_VIRADA_2021',
       'IPV_2021', 'IAN_2021', 'NIVEL_IDEAL_2021', 'DEFASAGEM_2021',
       'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022', 'BOLSISTA_2022',
       'INDE_2022', 'CG_2022', 'CF_2022', 'CT_2022', 'PEDRA_2022',
       'DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022', 'DESTAQUE_IPV_2022',
       'IAA_2022', 'IEG_2022', 'IPS_2022', 'IDA_2022', 'NOTA_PORT_2022',
       'NOTA_MAT_2022', 'NOTA_ING_2022', 'QTD_AVAL_2022', 'IPP_2022',
       'REC_AVA_1_2022', 'REC_AVA_2_2022', 'REC_AVA_3_2022', 'REC_AVA_4_2022',
       'INDICADO_BOLSA_2022', 'PONTO_VIRADA_2022', 'IPV_2022', 'IAN_2022',
       'NIVEL_IDEAL_2022', 'FASE_2020', 'TURMA_2020', 'ID_ALUNO'],
      dtype='object')

- Selecionando apenas as colunas que são comuns a todos os anos.

In [289]:
df_alunos = df_pede[['ID_ALUNO','NOME','IDADE_ALUNO_2020',
                     'FASE_2020','TURMA_2020','PONTO_VIRADA_2020','INDE_2020','PEDRA_2020','IAA_2020','IEG_2020','IPS_2020','IDA_2020','IPP_2020','IPV_2020','IAN_2020',
                     'FASE_2021','TURMA_2021','PONTO_VIRADA_2021','INDE_2021','PEDRA_2021','IAA_2021','IEG_2021','IPS_2021','IDA_2021','IPP_2021','IPV_2021','IAN_2021',
                     'FASE_2022','TURMA_2022','PONTO_VIRADA_2022','INDE_2022','PEDRA_2022','IAA_2022','IEG_2022','IPS_2022','IDA_2022','IPP_2022','IPV_2022','IAN_2022']]
df_alunos

,ID_ALUNO,NOME,IDADE_ALUNO_2020,FASE_2020,TURMA_2020,PONTO_VIRADA_2020,INDE_2020,PEDRA_2020,IAA_2020,IEG_2020,...,PONTO_VIRADA_2022,INDE_2022,PEDRA_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,IPP_2022,IPV_2022,IAN_2022
0,1,ALUNO-1,11,2,H,Não,7.883752,Ametista,8.500020000000001,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Não,7.675509,Ametista,10.00002,7.581705,7.500,8.816667,5.625000,7.916665,5.0
2,3,ALUNO-3,12,3,H,Não,7.856389666666666,Ametista,7.91667,8.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ALUNO-4,10,1,D,Não,5.076252,Quartzo,8.000020000000001,4.1,...,Não,7.117065,Ametista,10.00002,8.071429,7.500,5.083333,6.250000,8.055553,5.0
4,5,ALUNO-5,10,2,M,Não,8.077085,Ametista,7.50002,8,...,Não,7.232336,Ametista,6.41668,8.557505,7.500,7.083333,6.458333,7.833337,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,1345,ALUNO-1345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1345,1346,ALUNO-1346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sim,8.135538,Topázio,9.00002,9.031839,7.500,9.000000,5.625000,9.083340,5.0
1346,1347,ALUNO-1347,17,7,B,Não,7.158543333333334,Ágata,9.16668,8.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1347,1348,ALUNO-1348,13,3,R,Sim,7.842224333333333,Ametista,7.91667,7.1,...,Não,6.749981,Ágata,8.33334,9.178030,5.625,5.900000,6.718750,5.833328,5.0
1348,1349,ALUNO-1349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Não,6.399688,Ágata,7.91667,7.540114,7.500,4.500000,7.500000,5.999993,5.0

- Criando Dataframe separados por ano

In [268]:
df_alunos_2020 = pd.concat([df_alunos[['ID_ALUNO','NOME']], df_alunos.filter(regex='_2020')], axis=1)
df_alunos_2021 = pd.concat([df_alunos[['ID_ALUNO','NOME']], df_alunos.filter(regex='_2021')], axis=1)
df_alunos_2022 = pd.concat([df_alunos[['ID_ALUNO','NOME']], df_alunos.filter(regex='_2022')], axis=1)

In [269]:
print ('2020: ',df_alunos_2020.shape)
print ('2021: ',df_alunos_2021.shape)
print ('2022: ',df_alunos_2022.shape)

2020:  (1349, 15)
2021:  (1349, 14)
2022:  (1349, 14)

- Removendo linhas nulas (NaN)

In [270]:
df_alunos_2020_fil = df_alunos_2020[df_alunos_2020['FASE_2020'].notnull()]
df_alunos_2021_fil = df_alunos_2021[df_alunos_2021['FASE_2021'].notnull()]
df_alunos_2022_fil = df_alunos_2022[df_alunos_2022['FASE_2022'].notnull()]

In [271]:
print ('2020: ',df_alunos_2020_fil.shape)
print ('2021: ',df_alunos_2021_fil.shape)
print ('2022: ',df_alunos_2022_fil.shape)

2020:  (728, 15)
2021:  (686, 14)
2022:  (862, 14)

- Removendo  o sufixo das colunas

In [272]:
df_alunos_2020_fil.columns = df_alunos_2020_fil.columns.str.removesuffix("_2020")
df_alunos_2021_fil.columns = df_alunos_2021_fil.columns.str.removesuffix("_2021")
df_alunos_2022_fil.columns = df_alunos_2022_fil.columns.str.removesuffix("_2022")

- Criando a coluna a 'ANO_PESQUISA' com os dados dos anos

In [273]:
df_alunos_2020_fil.insert(loc=0, column='ANO_PESQUISA', value=2020)
df_alunos_2021_fil.insert(loc=0, column='ANO_PESQUISA', value=2021)
df_alunos_2022_fil.insert(loc=0, column='ANO_PESQUISA', value=2022)

- Concatenando os DataFrame

In [274]:
df_alunos_tratado = pd.concat([df_alunos_2020_fil, df_alunos_2021_fil, df_alunos_2022_fil], axis=0, ignore_index=True)
df_alunos_tratado

,ANO_PESQUISA,ID_ALUNO,NOME,IDADE_ALUNO,FASE,TURMA,PONTO_VIRADA,INDE,PEDRA,IAA,IEG,IPS,IDA,IPP,IPV,IAN
0,2020,1,ALUNO-1,11,2,H,Não,7.883752,Ametista,8.500020000000001,8.7,7.5,7,5.9375,7.75,10
1,2020,3,ALUNO-3,12,3,H,Não,7.856389666666666,Ametista,7.91667,8.9,7.5,5.5,8.125,8.111113333333334,10
2,2020,4,ALUNO-4,10,1,D,Não,5.076252,Quartzo,8.000020000000001,4.1,6.875,0,7.1875,7.75,5
3,2020,5,ALUNO-5,10,2,M,Não,8.077085,Ametista,7.50002,8,7.5,7.5,8.4375,8.166665,10
4,2020,8,ALUNO-8,14,4,L,Sim,8.381390666666666,Ametista,8.33334,9.9,4.375,7.333333333333333,8.749999999999998,8.94445,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,2022,1342,ALUNO-1342,NaN,2.0,K,Não,8.150001,Topázio,7.91668,9.666667,7.5,7.75,6.25,7.5,10.0
2272,2022,1343,ALUNO-1343,NaN,2.0,K,Não,5.674644,Quartzo,7.41668,6.470435,6.25,2.0,6.25,7.444443,5.0
2273,2022,1346,ALUNO-1346,NaN,0.0,U,Sim,8.135538,Topázio,9.00002,9.031839,7.5,9.0,5.625,9.08334,5.0
2274,2022,1348,ALUNO-1348,NaN,4.0,P,Não,6.749981,Ágata,8.33334,9.17803,5.625,5.9,6.71875,5.833328,5.0
2275,2022,1349,ALUNO-1349,NaN,3.0,M,Não,6.399688,Ágata,7.91667,7.540114,7.5,4.5,7.5,5.999993,5.0

In [275]:
nan_counts = df_alunos_tratado.isna().sum()
print("Número de valores NaN por coluna:")
print(nan_counts)

Número de valores NaN por coluna:
ANO_PESQUISA       0
ID_ALUNO           0
NOME               0
IDADE_ALUNO     1548
FASE               0
TURMA              0
PONTO_VIRADA      26
INDE               0
PEDRA              0
IAA                0
IEG                0
IPS                0
IDA                0
IPP                0
IPV                0
IAN                0
dtype: int64

- Contando a quantidade de alunos na coluna PEDRA

In [276]:
df_alunos_tratado['PEDRA'].value_counts()

PEDRA
Ametista    979
Ágata       599
Quartzo     372
Topázio     323
#NULO!        2
D9891/2A      1
Name: count, dtype: int64

- Tratando o valor D9891/2A

In [277]:
df_alunos_tratado[df_alunos_tratado['PEDRA']=='D9891/2A']

,ANO_PESQUISA,ID_ALUNO,NOME,IDADE_ALUNO,FASE,TURMA,PONTO_VIRADA,INDE,PEDRA,IAA,IEG,IPS,IDA,IPP,IPV,IAN
680,2020,1259,ALUNO-1259,D108,D,2,D9600,D980,D9891/2A,D910,V920,D930,D940,D950,D960,D970

In [278]:
df_alunos_tratado.drop(680, inplace=True)

- Tratando o valor #NULO!

In [279]:
print(df_alunos_tratado[df_alunos_tratado['PEDRA'] == '#NULO!'])

     ANO_PESQUISA  ID_ALUNO       NOME IDADE_ALUNO FASE TURMA PONTO_VIRADA  \
760          2021        71   ALUNO-71         NaN  0.0     J       #NULO!
973          2021       506  ALUNO-506         NaN  0.0     J       #NULO!

       INDE   PEDRA  IAA  IEG  IPS  IDA  IPP  IPV   IAN
760  #NULO!  #NULO!  7.4  0.0  5.0  3.6  0.0  0.0   5.0
973  #NULO!  #NULO!  7.4  0.0  5.0  4.1  0.0  0.0  10.0

In [280]:
df_alunos_tratado.replace('#NULO!', np.nan, inplace=True)

In [281]:
df_alunos_tratado['PEDRA'].value_counts()

PEDRA
Ametista    979
Ágata       599
Quartzo     372
Topázio     323
Name: count, dtype: int64

- Alterando o tipo do dados

In [282]:
df_alunos_tratado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2275 entries, 0 to 2275
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ANO_PESQUISA  2275 non-null   int64
 1   ID_ALUNO      2275 non-null   int64
 2   NOME          2275 non-null   object
 3   IDADE_ALUNO   727 non-null    object
 4   FASE          2275 non-null   object
 5   TURMA         2275 non-null   object
 6   PONTO_VIRADA  2247 non-null   object
 7   INDE          2273 non-null   object
 8   PEDRA         2273 non-null   object
 9   IAA           2275 non-null   object
 10  IEG           2275 non-null   object
 11  IPS           2275 non-null   object
 12  IDA           2275 non-null   object
 13  IPP           2275 non-null   object
 14  IPV           2275 non-null   object
 15  IAN           2275 non-null   object
dtypes: int64(2), object(14)
memory usage: 302.1+ KB

In [283]:
for col in ['PONTO_VIRADA']:
    if col in df_alunos_tratado.columns:
        df_alunos_tratado[col] = df_alunos_tratado[col].map({'Não': 0, 'Sim': 1})
        df_alunos_tratado[col] = df_alunos_tratado[col].fillna(0).astype(int)  # Preencher NaN com 0 e converter para int

In [284]:
df_alunos_tratado[['INDE', 'IAN', 'IDA', 'IEG', 'IAA', 'IPS', 'IPP','IPV']] = df_alunos_tratado[['INDE', 'IAN', 'IDA', 'IEG', 'IAA', 'IPS', 'IPP','IPV']].astype(float)
df_alunos_tratado[['ANO_PESQUISA','ID_ALUNO','FASE']] = df_alunos_tratado[['ANO_PESQUISA','ID_ALUNO','FASE']].astype(int)

In [285]:
def remove_accents(text):
    if pd.isna(text):
        return text
    text = unicodedata.normalize('NFKD', text).encode('ASCII', 'ignore').decode('ASCII')
    return text

df_alunos_tratado['PEDRA'] = df_alunos_tratado['PEDRA'].apply(remove_accents)

In [304]:
df_alunos_tratado

,ANO_PESQUISA,ID_ALUNO,NOME,IDADE_ALUNO,FASE,TURMA,PONTO_VIRADA,INDE,PEDRA,IAA,IEG,IPS,IDA,IPP,IPV,IAN
0,2020,1,ALUNO-1,11,2,H,0,7.883752,Ametista,8.50002,8.700000,7.500,7.000000,5.93750,7.750000,10.0
1,2020,3,ALUNO-3,12,3,H,0,7.856390,Ametista,7.91667,8.900000,7.500,5.500000,8.12500,8.111113,10.0
2,2020,4,ALUNO-4,10,1,D,0,5.076252,Quartzo,8.00002,4.100000,6.875,0.000000,7.18750,7.750000,5.0
3,2020,5,ALUNO-5,10,2,M,0,8.077085,Ametista,7.50002,8.000000,7.500,7.500000,8.43750,8.166665,10.0
4,2020,8,ALUNO-8,14,4,L,1,8.381391,Ametista,8.33334,9.900000,4.375,7.333333,8.75000,8.944450,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,2022,1342,ALUNO-1342,NaN,2,K,0,8.150001,Topazio,7.91668,9.666667,7.500,7.750000,6.25000,7.500000,10.0
2272,2022,1343,ALUNO-1343,NaN,2,K,0,5.674644,Quartzo,7.41668,6.470435,6.250,2.000000,6.25000,7.444443,5.0
2273,2022,1346,ALUNO-1346,NaN,0,U,1,8.135538,Topazio,9.00002,9.031839,7.500,9.000000,5.62500,9.083340,5.0
2274,2022,1348,ALUNO-1348,NaN,4,P,0,6.749981,Agata,8.33334,9.178030,5.625,5.900000,6.71875,5.833328,5.0
2275,2022,1349,ALUNO-1349,NaN,3,M,0,6.399688,Agata,7.91667,7.540114,7.500,4.500000,7.50000,5.999993,5.0

## **6 - Analise exploratória**